*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans 3', sans-serif;
    line-height: 22px;
    font-weight: 400;
    color: #333;
}

ul{
    list-style: none;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.header{
    padding-top: 35px;
}

.header-list{
    display: flex;
    gap: 0 20px;
    flex-basis: 480px;
    text-align: right;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.headaer-text{
    font-size: 14px;
    line-height: 16px;
}

.header-mail-link{
    color: #607CE6;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.header-phone-link{
    color: #607CE6;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-decoration: none;
}

.header-phone-item{
    flex-basis: 180px;
}

.header-mail-item{
    flex-basis: 280px;
}

.nav-list-item:hover{
    color: #607CE6;
}

.border{
    margin: 0 0 16px;
    border-color: #888;
}

.nav-list{
    display: flex;
    gap: 0 44px;
}




.nav-list-link{
    text-decoration: none;
    color: inherit;
    line-height: 19px;
}

.nav-list-item-contact{
    margin-left: auto;
}

.contact-link{
    text-transform: uppercase;
    color: #607CE6;
    line-height: 19px;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
}

.contact-link::before{
    content: '';
    background-image: url(../img/phone\ 1.svg);
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0 ;
    top: 3px;
}

.nav-list{
    margin-bottom: 80px;
}

.section-inner{
    display: flex;
    margin-bottom: 32px;
    gap: 0 20px ;
}

.section-title{
    font-size: 60px;
    line-height: 72px;
    max-width: 580px;
}

.section-text{
    line-height: 19px;
    max-width: 380px;
    padding-top: 26px;
}

.section{
    margin-bottom: 80px;
}

.section-company{
    margin-bottom: 80px;
}

.section-inner-job{
    display: flex;
    align-items: flex-end;
    gap: 0 20px;
}

.title{
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 32px;
}

.section-company-text{
    margin-bottom: 24px;
}

.section-company-pioner{
    margin-bottom: 32px;
}

.section-company-pioner-2{
   margin-bottom: 122px;
}

.section-products-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    
}

.section-goods{
    flex-basis: 380px;
    margin-bottom: 25px;
    background-color: #F5F5F5;
    min-height: 435px;
    padding: 32px 0 32px 24px;
}

.section-products-link{
    color: #607CE6;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.section-products-title{
    font-size: 28px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 12px;
}

.section-goods{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-products{
    margin-bottom: 80px;
}

.section-news-block{
    background-color:#F5F5F5;
}

.section-map{
    margin-bottom: 80px;
}

.section-news-inner{
    display: flex;
    gap: 0 20px;
}

.section-news-text{
    font-size: 20px;
    line-height: 28px;
    margin: 16px 16px 83px 16px;
}

.section-news-date-inner{
    display: flex;
    justify-content: space-between;
    margin-inline: 16px;
    margin-bottom: 25px;
}

.section-news{
    margin-bottom: 80px;
}

.section-news-text-margin{
    margin: 16px 16px 111px 16px;
}

.section-news-link{
    text-decoration: none;
    color: #607CE6;
}

.section-news-date{
    color: #888;
}

.section-products-link{
    padding-right: 14px;
    position: relative;
}

.section-products-link::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 11px;
    background-image: url(../img/line-angle-right-icon\ 1.svg);
    top: 9px;
    margin-left: 8px;
}

.footer{
    background-color: #333;
    padding: 56px 0 24px;
}


.footer-list-link{
    text-decoration: none;
    color: #fff;
    line-height: 19px;
    margin-bottom: 24px;
    display: block;
 
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.footer-list-block{
    display: flex;
}

.footer-list{
    margin-right: 91px;
}

.footer-list-2{
    margin-right: 57px;
}

.footer-text{
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 73px;
}

.footer-list-link:hover{
    color: #607CE6;
}